h3{
    display: flex;
    justify-content: center;
    color: blueviolet;
}
.container{
    display: flex;
}
.div-one{
    width: 50%;
    margin-left: 30px;
}.div-two{
    width: 50%;
    margin-left: -190px;
    font-size: 20px;
}
img{
    display:block;
    margin-top: 50px;
    border-radius: 10px;
}
h2{
    margin-top: 100px;
}